fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.3
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2
faker==37.4.0
python-multipart==0.0.20
streamlit==1.39.0
plotly==5.24.1
shap==0.46.0
numba==0.60.0
requests==2.32.3